<!DOCTYPE html>
<html>
    <head>
        <title>Najpopularniejsze imiona</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <script src="https://unpkg.com/angular/angular.min.js"></script>
        <script src="login.js"></script>
    </head>
    <body ng-app="loginApp" ng-controller="loginCtrl">
        <div class="container">
            <h3>Logowanie:</h3>
            Login: <input ng-model="login" />
            Password <input ng-model="password"/>
            <button ng-click="loginUser()">Login</button>
            <div ng-bind="statusMessage"></div>
        </div>
    </body>
</html>